{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5"> 
  <h1 align="center"><span style="color:red"><b>Привет!</b></span> Я - автор :)</h1>
  <h3> Немного о себе - <span style="color:red">давай знакомиться! </span></h3> 
  <hr>
  <p>
    Меня зовут Кирилл, я из Москвы, где 10 лет проработал в медицине. 
    Работа моя мне была в радость, сейчас же хочу сменить обстановку и 
    получать удовольствие в новой среде, в новой профессии! 
  </p>
  <p>
    И професиию такую я выбрал в сфере IT, для чего знания пошел приобретать в Яндекс Практикуме.
    Вообще поводов для новой професии немало. А так как в работе большую часть мы проводим за рабочем
    местом, как раз с него, пожалуй, сегодня я и начну. 
  </p>
  <p> Так выглядит мое рабочее место в лечебном учреждении </p>
  <p> <img src= "{% static 'img/fav/Sw.png' %}"> </p>
  <p> <img src= "{% static 'img/fav/Swo.png' %}"> </p>
  <hr>
  <p><b>Сейчас же мое рабочее место может быть в общем-то где угодно, а инструмент для работы - один!</b></p>
    <img src= "{% static 'img/fav/des.png' %}"> 
  </p> 
  <p> Баум! Потрясающе, да! </p>
  <hr>
  <h6> Звони и расскажи о своем рабочем месте и что хочешь узнать о Яндекс Практикуме в следующей статье!</p>
  <p>До связи!
    <span itemprop="telephone">
      <a href="tel:+7555555">
         +7(555)5555555
      </a>
    </span>
  </p>
{% endblock %}
